/* Variables */
$color-one: #fed330;
$color-two: #f5f6fa;
$color-three: #2f3640;
$color-four: #576574;
$font-header: 'Signika', sans-serif;
$font-text: 'Inconsolata', monospace;
$font-gold: 'Dancing Script', cursive;
/* Global */
*, *::before, *::after {
    box-sizing: border-box;
    }
body {
    margin: 0;
    font-size: 16px;
    font-family: $font-text;
    color: $color-four;
    text-align: center;
    }
section {
        padding: 60px 0;
        }
.container {
    max-width: 1140px;
    padding: 0 20px;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    }
  h1, .btn, ol {
    text-transform: uppercase;
  }
  h1, h3 {
    color: $color-three;
  }
  h1 {
    font-size: 40px;
  }
.title-subtitle-section {
    padding-bottom: 40px;
  }

/* Navigation */
.gold {
  color: $color-one;
  font-family: $font-gold;
  font-size: 30px;
}
nav {
    position: absolute;
    right: 50px;
    bottom: 310px;
    width: 90%;
    display: block;
    }
nav ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    }
nav li {
    display: inline-block;

    }
.navigation a {
    text-decoration: none;
    }
.navigation a:hover {
    font-weight: 700;
    }
ol li {
    width: 150px;
    height: 40px;
    }
ol > li > a {
    color: $color-two;
    }

/* Splash */
.splash {
  background-image: url('https://images.pexels.com/photos/3892369/pexels-photo-3892369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
  .page-title, .page-subtitle, .btn {
    color: $color-two;
  }
  .btn {
    background: $color-one;
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
  }

/* Services */
.fas {
   font-size: 40px;
   width: 70px;
   height: 70px;
   background: white;
   border-radius: 50%;
   border: 3px solid $color-one;
   line-height: 70px;
   color: $color-one;
   margin: 5px;
   text-align: center;
   }

/* Portfolio */
.image {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.card-body {
  margin-bottom: 70px;
}

/* Footer */
 .list-media {
   background: white;
   list-style-type: none;
   border: none;
   display: flex;
   margin: auto;
   left: 200px;
   }
.list-media li {
   font-size: 0px;
   }
.fab {
   font-size: 20px;
   width: 45px;
   height: 45px;
   background: $color-three;
   border-radius: 50%;
   line-height: 45px;
   color: $color-two;
   display: block;
   margin: 5px;
   }
.list-media li a {
   text-decoration: none;
   }

/* Media */
@media (max-width: 767px) {
section {
  padding: 20px 0;
}
card-body {
  margin-bottom: 20px;
}
.footer {
  padding: 0;
}
}
